<mat-toolbar color="primary" class="header-mat-toolbar">
    <div class="header-content">
        <span class="header-title">ZenduForms</span>
        <nav class="header-nav">
            <a mat-button routerLink="/forms">
                <mat-icon>assignment</mat-icon> 
                Forms
            </a>
            <a mat-button routerLink="/customers">
                <mat-icon>group</mat-icon> 
                Customers
            </a>
            <a mat-button routerLink="/submissions">
                <mat-icon>inbox</mat-icon> 
                Submissions
            </a>
            <a mat-button routerLink="/history">
                <mat-icon>history</mat-icon> 
                History
            </a>
            <a mat-button routerLink="/reports">
                <mat-icon>bar_chart</mat-icon>
                Reports
            </a>
            <a mat-button routerLink="/workflow">
                <mat-icon>swap_horiz</mat-icon> 
                Workflow
            </a>

            <div class="right-icons">
                <a mat-button>
                    <mat-icon>notifications</mat-icon>
                </a>
                <a mat-button>
                    <mat-icon>exit_to_app</mat-icon>
                </a>
            </div>
        </nav>
    </div>
</mat-toolbar>